<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      socket = io();
      socket.connect("http://127.0.0.1:80");
      function send_msg() {
        let data = [];
        for (let i = 0; i < 10; i++) {
          data.push(i);
        }
        socket.send(data);
      }
      socket.on("connect", function () {
        // socket.send('first give me time')
        send_msg();
        // setInterval(send_msg, 1000,'give me time')
      });
      socket.on("message", function (msg) {
        console.log(msg);
        document.getElementById("time").innerHTML =
          document.getElementById("time").innerHTML + " " + msg;
      });
    </script>

    <body>
      <h1 id="time"></h1>
    </body>
  </head>
</html>
